### These env vars are for authentication to work.
### To start building, create a Clerk application at https://dashboard.clerk.com/apps/new
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c2Vuc2libGUtdGVycmFwaW4tODcuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_DSJSbzh3hWvAEkBlPG0MqSZSzJr3GnW2T215TLifvP
# OpenAI
OPENAI_API_KEY=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
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/
DATABASE_URL=postgres://neondb_owner:npg_kiI1sywuc4bz@ep-calm-truth-adjifof0-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
# Stripe Configuration
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
# App URL
NEXT_PUBLIC_APP_URL=
# Maandelijkse Price IDs
STRIPE_PRICE_ID_S_MONTHLY=
STRIPE_PRICE_ID_L_MONTHLY=
STRIPE_PRICE_ID_XL_MONTHLY=
# Jaarlijkse Price IDs
STRIPE_PRICE_ID_S_YEARLY=
STRIPE_PRICE_ID_L_YEARLY=
STRIPE_PRICE_ID_XL_YEARLY=